@font-face {
    font-family: "Lexend-Regular";
    src: url('../font/Lexend-Regular.ttf');
}

@font-face {
    font-family: "Lexend-Light";
    src: url('../font/Lexend-Light.ttf');
}

@font-face {
    font-family: "TiltWarp-Regular";
    src: url('../font/TiltWarp-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "Lexend-Regular", "Noto Emoji", sans-serif;
    width: 1200px;
    height: 825px;
    overflow: hidden;
    color: #000;
}

h1, h2, p, span, .h1, .h2, .p, .span {
    font-family: "Lexend-Regular", "Noto Emoji", sans-serif;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}